.beavers-crafting.recipe {
    overflow-y: auto;
}

.beavers-crafting .recipe .action.result {
    padding:5px;
}
.beavers-crafting.recipe .editor{
    height:100%;
}

.beavers-crafting .drop-area {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    height:30px;

    /* Border */
    border: 1px dashed #ffffff;
    border-radius: 0.25rem;
    font-family: 'Gelasio';
    color:white;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 20%), 0 0 10px rgb(0 0 0 / 20%);
}

.beavers-crafting.chat .header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;
    line-height:40px;
    color:#555;
    font-weight:bold;
}
.beavers-crafting.chat .header .image{
    flex: 0 0 40px;
    height:40px;
    background-size: cover;
    background-position: 50% 0;
    border: none;
    margin-right: 5px;
}

.beavers-crafting.chat .header .skill{
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
}
.beavers-crafting.chat .header .fas{
    line-height:24px;
}

.beavers-crafting.chat .item-image{
    height:30px;
    flex:0 0 30px;
    background-size: cover;
    background-position: 50% 0;
    margin-right: 5px;
}
.beavers-crafting.chat .item{
    height:30px;
    line-height:30px;
}
.beavers-crafting.chat .results .title{
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
}
.beavers-crafting.chat .right{
    border-left: 2px groove #FFF;
}

.beavers-crafting.chat .beavers-chat-info .beavers-component {
    line-height: 28px;
    font-size: 12px;
    height: 28px;
    max-height: 28px;
    padding:0px 2px;
}

.beavers-crafting.chat .header .beavers-component {
    line-height: 40px;
    height: 40px;
    max-height: 40px;
}

.beavers-crafting.crafting-app .window-content {
    overflow-y:hidden;
    height:100%;
}

.beavers-crafting.crafting-app{
    min-width:560px;
}

.beavers-crafting.crafting-app .compendium.header{
    height:40px;
    line-height:40px;
    border-bottom: 1px solid var(--color-border-light-primary);
    flex: 0 0 40px;
}

.beavers-crafting .dialog-button {
    flex:0;
}

.beavers-crafting .drop-area .item{
    /* Center the content */
    width:20px;
    margin:2px;
}
.beavers-crafting .drop-area .item img{
    /* Center the content */
    border:0px;
}


.beavers-crafting .anyOf textarea {
    height: calc(100% - 30px);
    resize: none;
    padding:5px;
    width: calc(100% - 20px);
    margin:10px;
}

.sheet-body .beavers-crafting {
    height:100%;
    flex:1;
}
.beavers-crafting .anyOf{
    height:100%;
}

.beavers-crafting .anyOf .drop-area{
    margin:0px 5px;
    height:34px;
}

.beavers-crafting .anyOf .bottom{
    margin: 0px 5px 10px;
    flex:0 0 30px;
}


.beavers-crafting a.crafting-rollIcon:hover{
    background-image:url("../../../icons/svg/d20-black.svg") !important;
}

.beavers-crafting .crafting-item-img{
    background-size: contain;
    margin: 5px;
    width:20px;
    height:20px;
}

.beavers-crafting .recipe .crafting-item-img{
    width:30px;
    height:30px;
}

.beavers-crafting .processing{
    background-image: repeating-linear-gradient(
            -45deg,
            hsl(400,90%,50%) 0%,  /* orange */
            hsl(400,90%,50%) 4%,
            hsl(120,0%,50%,0%) 4%,   /* grau */
            hsl(120,0%,50%,0%) 8%,  /* grau */
            hsl(400,90%,50%) 8%,  /* orange */
            hsl(400,90%,50%) 12%,
            hsl(120,0%,50%,0%) 12%,   /* grau */
            hsl(120,0%,50%,0%) 16%  /* grau */
    );
    animation-name: beavers-crafting-diagonal;
    animation-duration: 40s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: 400% 100%;
}

@keyframes beavers-crafting-diagonal {
    0% {background-position: 0% 50%}
    100% {background-position: 95% 50%}
}

.beavers-crafting .flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: normal;
}

.beavers-crafting .item .item-image {
    height: 26px;
    flex:0 26px;
    border-radius: 2px;
    background-size: contain;
    margin:2px;
}
.beavers-crafting .item  {
    height: 30px;
}
.beavers-crafting .item .item-name {
    line-height: 30px;
    font-size: small;
    font-style: italic;
}

.beavers-crafting .item .action, .beavers-crafting .header .action{
    flex: 0 0 30px;
    border-left: 1px solid #c9c7b8;
    justify-content: right;
}
.beavers-crafting .item .action a, .beavers-crafting .header .action a{
    flex: 0;
    margin: auto;
}
.beavers-crafting select {
    margin: auto;
}
/*
 common
 */
.beavers-crafting .beavers-seperator{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    flex:0;
}
.beavers-crafting .clickable{
    cursor: help;
}

.beavers-crafting .beavers-line {
    white-space:nowrap;
    flex-wrap:nowrap;
}

.beavers-crafting .beavers-line .attribute {
    flex:0;
    padding-left:5px;
    flex-basis: fit-content;
}

.beavers-crafting .fa-times{
    color:#b94a48;
    margin: auto;
    width: 14px;
    padding: 0px 0px 0px 3px;
}

.beavers-crafting .fa-question{
    color: #3f678e;
    width:14px;
    padding-left:2px;
    font-size:small;
    margin: auto;
}

.beavers-crafting .fa-check{
    color:#468847;
    margin: auto;
}
.beavers-crafting .fa-lock{
    color:darkorange;
    margin: auto;
}
/****************
beaver-component
 ****************/

.beavers-crafting .statusbar {
    margin: 2px;
    max-height:20px;
    width:50px;
    color:white;
    line-height:16px;
    text-align:center;
    padding:2px;
    border-radius:5px;
    border:1px solid darkgreen;
    background-color: rgba(255,255,255,0.5)
}
.beavers-crafting .statusbar.success {
    border-color:darkgreen;
}
.beavers-crafting .statusbar.error {
    border-color:darkred;
}
.beavers-crafting .statusbar .fill {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 100%;
    height: 100%;
}

.beavers-crafting .beavers-component {
    line-height: 32px;
    height: 32px;
    max-height:32px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    flex-wrap:nowrap;
}

.beavers-crafting .beavers-component .flexrow {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    flex-wrap:nowrap;
    width:0px;
}

.beavers-crafting .beavers-component img {
    flex: 0;
    border-radius: 4px;
    margin: 2px;
    border: 0px solid transparent;
}

.beavers-crafting .beavers-component .name {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    width:0px;
}

.beavers-crafting .beavers-component .attribute {
    flex:0;
    padding-left:5px;
    flex-basis: fit-content;
}
/****************
beaver-recipe-test
 ****************/

.beavers-crafting .beavers-recipe-test {
    line-height: 22px;
    flex-wrap:nowrap;
    white-space:nowrap;
}

.beavers-crafting .beavers-recipe-test .name {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    width:0px;
}

.beavers-crafting .beavers-recipe-test img {
    height: 18px;
    width: 18px;
    flex: 0;
    border-radius: 4px;
    margin: 2px;
}
.beavers-crafting .beavers-recipe-test .attribute {
    flex:0;
    padding-left:5px;
    flex-basis: fit-content;
}

/* crafting-app */

.beavers-crafting.crafting-app aside.sidebar{
    flex: 0 0 200px;
    height: 100%;
    width: 200px;
    border-right: 2px groove #fff;
    font-size: var(--font-size-12);
}
.beavers-crafting.crafting-app .sidebar .content{
    overflow-y: auto;
    border-top: 2px groove #fff;
    margin-top: 2px;
}

.beavers-crafting.crafting-app .sheet-body {
    height:100%;
}

.beavers-crafting.crafting-app .sheet-body .beavers-recipe{
    overflow-y: auto;
    border-top: 2px groove #fff;
    margin-top: 2px;
    height:calc( 100% - 64px );
}

.beavers-crafting.crafting-app .beavers-crafting-header .beavers-component {
    line-height: 34px;
    height: 34px;
    max-height:34px;
    font-size: 16px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
}
/****************
beaver-folder
 ****************/
.beavers-crafting .beavers-folder .folderContent {
    padding-left:10px;
}

.beavers-crafting .beavers-folder .folderContent .folderContent {
    padding-left:12px;
    border-left: 1px solid dimgrey;
}
.beavers-crafting .beavers-folder img {
    border: 1px solid transparent;
}

.beavers-crafting .beavers-folder .folderName{
    line-height:22px;
    height:22px;
}

.beavers-crafting .beavers-folder .beavers-folder-item {
    line-height: 34px;
    flex-wrap:nowrap;
}

.beavers-crafting .beavers-folder .beavers-folder-item span.name {
    filter: brightness(0.8);
    font-weight: 700;
    font-size: 16px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    overflow:hidden;
    text-overflow: ellipsis;
    flex-wrap:nowrap;
    white-space:nowrap;
}

.beavers-crafting .beavers-folder .beavers-folder-item img {
    height: 30px;
    width: 30px;
    flex: 0;
    border-radius: 5px;
    margin: 2px;
}
.beavers-crafting .beavers-folder .beavers-folder-item.selected a {
    box-shadow: inset 0px 0px 10px;
    border-radius: 5px;
}

.beavers-crafting .beavers-folder .folderContent span.border {
    border-left: 1px solid dimgrey;
    width:5px;
}
.beavers-crafting .beavers-folder .folderContent span.border.top {
    border-bottom: 1px solid dimgrey;
}

.beavers-crafting .beavers-folder .folder.close>.folderContent {
    display:none;
}

.beavers-crafting .beavers-folder .folder.close>.folderName .fa-folder-open {
    display:none;
}

.beavers-crafting .beavers-folder .folder.open>.folderName .fa-folder {
    display:none;
}

/************
beavers-recipe
 */
.beavers-crafting .beavers-recipe .folder.open>.folderName .fa-clipboard {
    display:none;
}
.beavers-crafting .beavers-recipe .folder.close>.folderName .fa-clipboard-list-check {
    display:none;
}

.beavers-crafting .beavers-recipe .header {
    height: 22px;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
    padding-left: 5px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    text-align: left;
    line-height:20px;
    filter: brightness(0.8);
    flex:0;
    width: inherit;
    margin: inherit;
}

.beavers-crafting .beavers-recipe .beavers-recipe-body {
    border: 2px groove #eeede0;
    padding: 2px;
}

.beavers-crafting .beavers-recipe .beavers-recipe-section {
    min-width: 300px;
}

.beavers-crafting .beavers-recipe .test-section {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid grey;
    border-radius: 5px;
    margin: 2px;
    padding: 1px;
}

.beavers-crafting .beavers-recipe .data-section {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 2px 2px 2px 0px;
    padding:2px;
}
.beavers-crafting .beavers-recipe .data-section .choose {
    cursor: pointer;
    width:16px;
    height:16px;
    flex:0 16px;
    margin-top:8px;
}

.beavers-crafting .beavers-recipe .data-section .chooseAnyOf {
    cursor: pointer;
}

.beavers-crafting .beavers-recipe .text-section .test-header {
    text-align: right;
    flex-direction: row-reverse;
    font-size: x-small;
    color: white;
}
/* recipe-sheet */
.beavers-crafting .recipe .sheet-left{
    min-width:305px
}

.beavers-crafting .recipe .sheet-right{
    min-width:305px
}
.beavers-crafting .recipe .header{
    height: 22px;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
    padding-left: 5px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    text-align: left;
    line-height:20px;
    filter: brightness(0.8);
    flex:0;
    width: inherit;
    margin: inherit;
}

/**
todo check this
 */
.beavers-crafting .header input {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    height: inherit;
}

.beavers-crafting .recipe .section {
    border: 2px groove #eeede0;
    padding: 2px;
}

.beavers-crafting .recipe .drop-area {
    height:32px;
    margin: 2px;
}
.beavers-crafting .recipe .header input[type="checkbox"]{
    flex:0 0 15px;
    width:14px;
    height:14px;
}
.beavers-crafting .recipe .header .action{
    flex: 0 0 30px;
    border-left: 1px solid #c9c7b8;
    justify-content: right;
    line-height:15px
}
/****
actor-sheet
 */

.beavers-crafting.actor-tab .test-description {
    line-height: 22px;
    flex-wrap:nowrap;
}

.beavers-crafting.actor-tab .test-description .flexrow{
    flex-wrap:nowrap;
}

.beavers-crafting.actor-tab .header1{
    background-color: dimgrey;
    color: white;
    text-shadow: 1px 1px var(--color-shadow-dark);
    font-weight: bold;
    flex: 30px;
    line-height: 30px;
    text-align: center;
    margin-right:1px;
}

.beavers-crafting.actor-tab .header {
    height: 22px;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border: 2px groove #eeede0;
    padding-left: 5px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    text-align: left;
    line-height:20px;
    flex:0;
    min-width:200px;
}

.beavers-crafting.actor-tab .scale{
    flex:1 0 100px;
    width:100px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.beavers-crafting.actor-tab .status{
    flex:0 0 80px
}
.beavers-crafting.actor-tab .option{
    flex:0 0 30px;
}
.beavers-crafting.actor-tab .crafting-description{
    margin: 0px 30px;
    display:none;
}
.beavers-crafting.actor-tab .describe .crafting-description{
    display:block;
}
.beavers-crafting.actor-tab .describe .describeCrafting .fa-square-chevron-down{
    display:none;
}
.beavers-crafting.actor-tab .describeCrafting .fa-square-chevron-up{
    display:none;
}
.beavers-crafting.actor-tab .describe .describeCrafting .fa-square-chevron-up{
    display:inline
}

.beavers-crafting.actor-tab .addCrafting {
    font-size:12px;
    line-height:12px;
    background: rgba(0, 0, 0, 0.1);
    border: 2px groove #eeede0;
    padding:1px 5px;
    text-align:center;
    cursor:pointer;
}

.beavers-crafting.actor-tab .addCrafting:hover {
    outline: none;
    box-shadow: 0 0 5px var(--color-shadow-primary);
}

.beavers-fontsize-svg-img {
    height:1.25em !important;
    position: relative;
    margin: auto !important;
    border:0px !important;
    border-radius:10%;
    flex:0 !important;
}

.beavers-fontsize-svg-img.editable {
    cursor:pointer;
}

.beavers-fontsize-svg-img.editable:hover {
    box-shadow: 0 0 10px var(--color-shadow-primary);
}

.beavers-crafting .tab {
    overflow: inherit !important
}

.pf1.sheet.item form {
    grid-template-rows: min-content auto 1fr !important;
}

.pf1.sheet .primary-body {
    overflow-y:auto;
    height:100%;
}
.pf1.sheet .primary-body .beavers-crafting.recipe{
    overflow-y:unset !important;
}