.beavers-crafting.recipe {
    overflow-y: scroll;
}

.beavers-crafting .recipe .header{
    height: 28px;
    margin: 5px 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
    color: #7a7971;
    font-weight: 700;
    font-size: 16px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    text-align: left;
    padding-left:2px;
}

.beavers-crafting .recipe .left{
    max-width:50%;
}

.beavers-crafting .recipe .right{
    max-width:50%;
}
.beavers-crafting .recipe .attribute{
    flex: 0 0 60px;
    border-left: 1px solid #c9c7b8;
    padding-left:5px;
}

.beavers-crafting .recipe .header .attribute{
    flex: 0 0 56px;
}

.beavers-crafting .recipe .action{
    flex: 0 0 30px;
    border-left: 1px solid #c9c7b8;
    padding-left:5px;
}
.beavers-crafting .recipe input[type="checkbox"]{
    flex:0 0 15px;
    width:15px;
    height:15px;
}

.beavers-crafting .recipe .clickable{
    cursor: pointer;
}

.beavers-crafting .drop-area {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    height:30px;

    /* Border */
    border: 1px dashed #ffffff;
    border-radius: 0.25rem;
}

.beavers-crafting.chat .header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;
    height:40px;
    line-height:40px;
    color:#555;
    font-weight:bold;
}
.beavers-crafting.chat .header .image{
    flex: 0 0 40px;
    height:40px;
    background-size: cover;
    background-position: 50% 0;
    border: none;
    margin-right: 5px;
}

.beavers-crafting.chat .header .skill{
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
}
.beavers-crafting.chat .header .fas{
    line-height:24px;
}
.beavers-crafting .item .fa-times{
    color:#b94a48
}
.beavers-crafting .item .fa-check{
    color:#468847
}
.beavers-crafting.chat .item-image{
    height:30px;
    flex:0 0 30px;
    background-size: cover;
    background-position: 50% 0;
    margin-right: 5px;
}
.beavers-crafting.chat .item{
    height:30px;
    line-height:30px;
}
.beavers-crafting.chat .results .title{
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
}
.beavers-crafting.chat .right{
    border-left: 2px groove #FFF;
}

.beavers-crafting.crafting-app .window-content {
    overflow-y:auto;
    height:100%;
}

.beavers-crafting.crafting-app{
    min-width:560px;
}

.beavers-crafting.crafting-app .compendium.header{
    height:40px;
    line-height:40px;
    border-bottom: 1px solid var(--color-border-light-primary);
    flex: 0 0 40px;
}

.beavers-crafting.crafting-app aside.sidebar{
    flex: 0 0 140px;
    height: 100%;
    width: 140px;
    border-right: 1px solid var(--color-border-light-primary);
    font-size: var(--font-size-12);
    overflow-y: scroll;
}

.beavers-crafting.crafting-app nav .item{
    height:30px;
    line-height:30px;
    margin:5px;
    border-radius: 5px;
}

.beavers-crafting.crafting-app nav .item img{
    flex:0 0 30px;
    height: 30px;
    margin-right:5px;
    border-radius: 5px;
}

.beavers-crafting.crafting-app nav .item span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.beavers-crafting.crafting-app .sheet-body{
    padding:5px;
}

.beavers-crafting.crafting-app nav .item.selected{
    box-shadow: 6px 6px 10px hsl(300deg 15% 25% / 30%) inset;
    background-color: rgba(0, 0, 0, 0.05);
}

.beavers-crafting .dialog-button {
    flex:0;
}

.beavers-crafting .drop-area .item{
    /* Center the content */
    width:20px;
    margin:2px;
}
.beavers-crafting .drop-area .item img{
    /* Center the content */
    border:0px;
}

.beavers-crafting .crafting-app.header .filter{
    /* Center the content */
    height: 40px;
    line-height: 40px;
    text-align: right;
    color: grey;
}
.beavers-crafting .crafting-app.header .drop-area {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    height:30px;
    margin:4px;

    /* Border */
    border: 1px dashed #ffffff;
    border-radius: 0.25rem;
}

.beavers-crafting .anyOf textarea {
    height: calc(100% - 30px);
    resize: none;
    padding:5px;
    width: calc(100% - 20px);
    margin:10px;
}

.sheet-body .beavers-crafting {
    height:100%;
    flex:1;
}
.beavers-crafting .anyOf{
    height:100%;
}

.beavers-crafting .anyOf .drop-area{
    margin:0px 5px;
    height:34px;
}

.beavers-crafting .anyOf .bottom{
    margin: 0px 5px 10px;
    flex:0 0 30px;
}
