<div class="beavers-crafting">
    <table>
        <thead>
        <tr>
            <th>{{localize "beaversCrafting.actorSheet.table.name"}}</th>
            <th>{{localize "beaversCrafting.actorSheet.table.ingredients"}}</th>
            <th>{{localize "beaversCrafting.actorSheet.table.status"}}</th>
            <th><a class="addRecipe">{{localize "beaversCrafting.actorSheet.table.add"}}</a></th>
        </tr>
        </thead>
    </table>
</div>