<div class="beavers-folder-item flexrow {{#if (eq ../../selected this.uuid)}}selected{{/if}}" data-id="{{this.uuid}}">
  <a class="flexrow" style="overflow:hidden">
    <img src="{{this.img}}" alt="">
    <span class="name">{{this.name}}</span>
  </a>
</div>