<div class="flexcol" style="height:100%">
    <div class="flexrow" style="height:calc( 100% - 40px)">
        <aside class="sidebar flexcol">
            <div style="flex:0;min-height:34px;line-height:34px" class="flexrow">
                <i style="width:25px;flex: 0;margin: auto;display: block;padding: 0px 5px;" class="fas fa-search"></i>
                <select class="search">
                    {{#select filter}}
                        <option value="2">all</option>
                        <option value="1">available</option>
                        <option value="0">usable</option>
                        <option value="3">own</option>
                    {{/select}}
                </select>
                <a style="width:25px;flex: 0;margin: auto;display: block;padding: 0px 5px;"
                   class="fas fa-sort-amount-up fa-fw"></a>
            </div>
            <div class="content">
                <nav class="navigation">
                    {{>beavers-recipe-folders}}
                </nav>
            </div>
        </aside>
        <section style="height:100%" class="sheet-body">

        </section>
    </div>
</div>

