<div class="sheet recipe">
    <nav class="tabs" data-group="primary">
        <a class="item {{#if (eq active "main")}}active{{/if}}" data-tab="main">Main</a>
        <a class="item {{#if (eq active "advanced")}}active{{/if}}" data-tab="advanced">Advanced</a>
    </nav>
    <section>
        <div class="tab main {{#if (eq active "main")}}active{{/if}}" data-tab="main" data-group="primary">
            {{{main}}}
        </div>
        <div class="tab advanced {{#if (eq active "advanced")}}active{{/if}}" data-tab="advanced" data-group="primary">
            {{{advanced}}}
        </div>
    </section>
</div>